.rc button:focus {
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: none;
}

.rc input:focus {
  outline: 0;
}

.rc p {
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.rc a {
  text-decoration: none;
}

.rc #content-resource-center #header .wrapper .devider,
.rc #content-resource-center #inner-content .section-a .wrapper .devider,
.rc #content-resource-center #inner-content .section-b .wrapper .devider,
.rc #content-resource-center #inner-content .section-c .wrapper .devider,
.rc #content-resource-center #inner-content .section-d .wrapper .devider,
.rc #content-resource-center .section-e .wrapper .devider {
  display: inline-block;
  height: 3px;
  background-color: #cc0000;
}

.rc .btn-red {
  width: 100%;
  background-color: #cc0000;
  color: white;
  border-radius: 0;
  position: relative;
  height: 50px;
  width: 270px;
  display: block;
  border: 0px solid transparent;
}

.rc .btn-red span {
  position: relative;
}

.rc .btn-red::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 2%;
  background-color: #8e0001;
  top: 0;
  left: 0px;
  transition: all .4s ease-in-out;
}

.rc .btn-red:hover::before,
.rc .btn-red:visited::before,
.rc .btn-red:focus::before,
.rc .btn-red:active::before {
  width: 100%;
}

.rc #content-resource-center #header {
  background-image: url("../../../../img/header_image.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.rc #content-resource-center #header .wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  min-height: 200px;
  color: white;
}

.rc #content-resource-center #header .wrapper .devider {
  width: 50px;
  margin: 10px auto 15px;
}

.rc #content-resource-center #secondNav {
  display: none;
}

.rc #content-resource-center #inner-content .sub {
  font-size: 2.4rem;
  margin-bottom: 35px;
  line-height: 2.6rem;
  font-weight: 700;
}

.rc #content-resource-center #inner-content .section-a,
.rc #content-resource-center #inner-content .section-b,
.rc #content-resource-center #inner-content .section-c,
.rc #content-resource-center #inner-content .section-d {
  margin: 45px 15px 0 15px;
}

.rc #content-resource-center #inner-content .section-a .wrapper,
.rc #content-resource-center #inner-content .section-b .wrapper,
.rc #content-resource-center #inner-content .section-c .wrapper,
.rc #content-resource-center #inner-content .section-d .wrapper {
  margin: 25px 0;
}

.rc #content-resource-center #inner-content .section-a .wrapper p,
.rc #content-resource-center #inner-content .section-b .wrapper p,
.rc #content-resource-center #inner-content .section-c .wrapper p,
.rc #content-resource-center #inner-content .section-d .wrapper p {
  color: gray;
}

.rc #content-resource-center #inner-content .section-a .wrapper .title,
.rc #content-resource-center #inner-content .section-b .wrapper .title,
.rc #content-resource-center #inner-content .section-c .wrapper .title,
.rc #content-resource-center #inner-content .section-d .wrapper .title {
  font-size: 1.5rem;
  color: #c3c3c3;
}

.rc #content-resource-center #inner-content .section-a .wrapper .devider,
.rc #content-resource-center #inner-content .section-b .wrapper .devider,
.rc #content-resource-center #inner-content .section-c .wrapper .devider,
.rc #content-resource-center #inner-content .section-d .wrapper .devider {
  width: 60px;
  margin: 20px 0;
}

.rc #content-resource-center #inner-content .section-a .wrapper img,
.rc #content-resource-center #inner-content .section-b .wrapper img,
.rc #content-resource-center #inner-content .section-c .wrapper img,
.rc #content-resource-center #inner-content .section-d .wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.rc #content-resource-center .section-e {
  display: block;
  margin-top: 35px;
  background-image: url("../../../../img/demo_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rc #content-resource-center .section-e .wrapper {
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  min-height: 330px;
}

.rc #content-resource-center .section-e .wrapper .devider {
  width: 60px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.rc #content-resource-center .section-e .wrapper .sub {
  margin-bottom: 1rem;
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  .rc .navbar-expand-lg {
    position: fixed;
    width: 100%;
    z-index: 9;
  }

  .rc #content-resource-center .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr (minmax(auto, 10em))[8] 1fr 1fr;
    grid-template-columns: 1fr 1fr repeat(8, minmax(auto, 10em)) 1fr 1fr;
  }

  .rc #content-resource-center #header {
    position: fixed;
    width: 100%;
    margin-top: 55px;
    z-index: 9;
  }

  .rc #content-resource-center #header .wrapper {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
  }

  .rc #content-resource-center #secondNav {
    display: -ms-grid;
    display: grid;
    min-height: 60px;
    position: fixed;
    z-index: 9;
    width: 100%;
    margin-top: 255px;
    background-color: white;
    box-shadow: 3px 12px 28px -16px rgba(86, 86, 86, 0.83);
    border-bottom: 1px solid #cfcfcf;
  }

  .rc #content-resource-center #secondNav .wrapper {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rc #content-resource-center #secondNav .wrapper li:first-child {
    margin-left: 15px;
  }

  .rc #content-resource-center #secondNav .wrapper li:last-child {
    margin-right: 15px;
  }

  .rc #content-resource-center #secondNav .wrapper li {
    height: 100%;
  }

  .rc #content-resource-center #secondNav .wrapper li a {
    color: gray;
    font-weight: 600;
    opacity: 0.6;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 2px solid #ffffff00;
    transition: all .5s ease-in-out;
  }

  .rc #content-resource-center #secondNav .wrapper li a:hover,
  .rc #content-resource-center #secondNav .wrapper li .active {
    color: black;
    opacity: 1;
    border-bottom: 2px solid #cc0000;
  }

  .rc #content-resource-center #inner-content .title,
  .rc #content-resource-center #inner-content .d-left,
  .rc #content-resource-center #inner-content .d-right {
    opacity: 0;
  }

  .rc #content-resource-center #inner-content .section-a {
    height: 100vh;
    margin-top: 85px;
  }

  .rc #content-resource-center #inner-content .section-c {
    height: 100vh;
  }

  .rc #content-resource-center #inner-content .section-c .btn-red {
    width: 270px;
    opacity: 0;
  }

  .rc #content-resource-center #inner-content .section-a,
  .rc #content-resource-center #inner-content .section-c {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }

  .rc #content-resource-center #inner-content .section-a .title-box,
  .rc #content-resource-center #inner-content .section-c .title-box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .rc #content-resource-center #inner-content .section-a .title-box .sub,
  .rc #content-resource-center #inner-content .section-c .title-box .sub {
    margin-bottom: 35px;
  }

  .rc #content-resource-center #inner-content .section-a .img-box,
  .rc #content-resource-center #inner-content .section-c .img-box {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  .rc #content-resource-center #inner-content .section-a .text-box,
  .rc #content-resource-center #inner-content .section-c .text-box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    margin-top: 0;
  }

  .rc #content-resource-center #inner-content .section-b,
  .rc #content-resource-center #inner-content .section-d {
    height: 100vh;
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
    text-align: right;
  }

  .rc #content-resource-center #inner-content .section-b .title-box,
  .rc #content-resource-center #inner-content .section-d .title-box {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .rc #content-resource-center #inner-content .section-b .title-box .devider,
  .rc #content-resource-center #inner-content .section-d .title-box .devider {
    margin-left: auto;
  }

  .rc #content-resource-center #inner-content .section-b .title-box .sub,
  .rc #content-resource-center #inner-content .section-d .title-box .sub {
    margin-bottom: 35px;
  }

  .rc #content-resource-center #inner-content .section-b .img-box,
  .rc #content-resource-center #inner-content .section-d .img-box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  .rc #content-resource-center #inner-content .section-b .text-box,
  .rc #content-resource-center #inner-content .section-d .text-box {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    margin-top: 0;
  }

  .rc .section-e .wrapper {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / 11;
  }
}

/*# sourceMappingURL=style.css.map */